<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>he he he hu hu hu</title>
</head>
<style>
    .hi{
        height: 200px; 
        width: 200px;
        background-color:red
    }
</style>
<body>
    <h1>E-commmerce</h1>
    <h2>he he he </h2>
    <h3>hehe</h3>
    <h4>hhhe</h4>
    <h5>dvjsg</h5>
    <h6>vjsdkbfs</h6>
    <p>jsjsbvsdvvbskvbkvadvksvsvksfkwbkvkdvkjkbvkdkjfdvkADvjKAfkerkkfkrieWPN;  NL</p>
    <a href="https://instagram.com/fenu__philip__">
        Fenu
    </a><br><br>
    <img src="1.Batman - Im Batman.jpg" alt="Im Batman" , height="400" width="">
    <ul>
        <li>0000</li>
        <li>000</li>
        <li>00</li>
        <li>0</li>
        <button>Batman</button>
        <input type="text" placeholder="name">
        <input type="password" placeholder="password">
        <input type="email" placeholder="email">
        <input type="file" placeholder="file">
        <input type="date" placeholder="date">
        <input type="color" placeholder="">
        <input type="img" placeholder="">



    </ul>
    <table>
        <TR>
            <th>data1</th>
            <th>data2</th>
            <th>data3</th>
            <th>data4</th>

            <th></th>
        </TR>
        <tr>
            <td>dcujs</td>
            <td>dcujs</td>
            <td>dcujs</td>
            <td>dcujs</td>


        </tr>
        <tr>
            <td>hrllo</td>
            <td>hrllo</td>
            <td>hrllo</td>
            <td>hrllo</td>


        </tr>
        <tr>
            <td>hrllo</td>
            <td>hrllo</td>

            <td>hrllo</td>
            <td>hrllo</td>

        </tr>
        <tr>
            <td>hrllo</td>
            <td>hrllo</td>
            <td>hrllo</td>

        </tr>
    </table>
    <div style="height: 200% ; width: 200%;" color:"red"></div>
    <div class="hi"></div>
    <br>
    <div class="hi"></div>

</body>
</html>
